/* .header {
    background-image: url(images/wallpaperc7.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    filter: blur(10px);
    -webkit-filter: blur(1px);
} */

.wallpaper {
    filter: blur(10px);
    -webkit-filter: blur(3px);
    z-index: -1;
}
  
.header {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.header .content {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.header .searchBar {
  position: relative;
}

.header .searchBar input {
  border-radius: 10px;
}

.header .searchBar input:focus ~ div.search-result{
  display: flex;
}

.header .searchBar .search-result {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 20rem;
  overflow:scroll;
  background-color: white;
  border-radius: 10px;
}

.header .searchBar .search-result a {
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid gray;
  text-decoration: none;
  text-align: left;
}


.sgnup {
  background-color: #1E90FF;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: larger;
  border-radius: 4%;
  margin: 20px 3px;
}

.sgnup:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px #1E90FF;
  color: #1E90FF;
  transition: 0.7s;  
}

.login {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: larger;
  margin: 20px 3px;
  border-radius: 4%;
}

.login:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px blue;
  color: blue;
  transition: 0.7s;  
}

.apnt1 {
  background-color: #1E90FF;
  color: white;
  padding: 13px 20px;
  border: none;
  font-size: large;
  margin: 20px;
  font-size: larger;
  border-radius: 4%;
}

.apnt1:hover {
  background-color: transparent;
  color: white;
  transition: 0.7s;  
}

.lrn {
  background-color: blue;
  color: white;
  padding: 13px 20px;
  border-radius: 4%;
  border: none;
  font-size: larger;
}

.lrn:hover {
  background-color: transparent;
  box-shadow: none;
  color: white;
  transition: 0.7s; 
}

/**********Nav-bar***************/

.navbar-nav li a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: black;
    font-size: 15px;
    letter-spacing: 1.7px;
    padding: 0 !important;
    margin: 0px 10px;
  }

  .navbar h1 {
    color: #1E90FF;
  }
  
  .navbar-nav li a:after {
    content: "";
    position: absolute;
    background-color: #1E90FF;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  
  /* .navbar-nav li a:hover {
    color: #ffffff;
  } */
  
  .navbar-nav li a:hover:after {
    width: 100%;
  }

/**************End of Nav-bar*********************/

/**************Dropdown Link***********************/

.dropbtn {
  position: relative;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: black;
  font-size: 15px;
  letter-spacing: 1.7px;
  padding: 0 !important;
  margin: 0px 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
}

.dropdown-content a a {
  color: black;
  padding: 12px 20px;
  display: block;
}

.dropdown-content a a:hover {
  background-color: #1E90FF;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: none;
}

/****************End of Dropdown**************************/


.text {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 23rem;
  font-weight: 100;
}

.medical {
  color: blue;
}

.card1 {
  background-color: #1E90FF;
}

.card2 {
  background-color: blue;
}

.searchBar input[type=text] {
  padding: 5px 20px;
  background: transparent;
  font-size: 20px;
  border: 1px solid white;
  width: 100%;
}

.searchBar {
  width: 30rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.searchBar input::placeholder {
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.srvcs:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.385);
  transition: 0.7s;
  transform: scale(1.01);
}

.icon {
  width: 100%;
  height: 10rem;
  color: #42a0ff;
}

.icon:hover {
  color: blue;
  transition: 0.7s;
}

.more {
  background-color: #42a0ff;
  color: white;
  /* box-shadow: 0 0 0 2px #42a0ff; */
  font-weight: 500;
  font-size: larger;
  padding: 10px 25px;
  border-radius: 50px;
}

.more:hover {
  background-color: transparent;
  box-shadow: 0 0 0 2px #42a0ff;
  color: #42a0ff;
  transition: 0.7s;
}

.expicon {
  width: 100%;
  height: 10rem;
  color: blue;
}

.img1 {
  width: 100%;
  box-shadow: 10px 10px 40px #1E90FF;
}

.box {
  background-color: #1E90FF;
}

.count {
  color: rgb(16, 139, 22);
}

.exp {
  width: 100%;
  height: 5rem;
  color: rgb(16, 139, 22);
}

.book {
  background: blue;
  color: white;
  padding: 10px 30px;
  border-radius: 50px;
}

.cntct {
  background: #1E90FF;
  color: white;
  padding: 10px 60px;
  border-radius: 50px;
  margin-top: 1rem;
}

.container .doctors .row {
  box-shadow: 0px 0px 15px rgb(228, 228, 228);
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 20px;
}


#footer {
  font-family: D-DIN,Open Sans,Noto Sans Japanese,Noto Sans TC,sans-serif;
}

#footer h4 {
  font-weight: 400;
}

#footer .links {
  padding: 5rem 0;
  background: rgb(239, 239, 239);
}

#footer a {
  text-decoration: none;
  margin: .4rem 0;
  color: gray;
}

#footer a:hover {
  color: #42a0ff;
}

#footer .socials a {
  font-size: 1.5rem;
  background: rgb(239, 239, 239);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin:0.5rem  .4rem;
}

#footer .socials a:hover {
  background-color: #1E90FF;
  color: white;
}

#footer .socials a i {

}

#signin {
  font-family: 'Poppins',sans-serif;
}

#signin form {
  animation: wip .5s;
  opacity: 0;
  animation-fill-mode: forwards;
  color: gray;
}

@keyframes wip {
  to {
    opacity: 1;
  }
}

#signin form select {
  padding: .5rem 2.5rem .5rem .5rem;
  margin-right: 1rem;
  appearance: none;
  position: relative;
  color: inherit;
}

#signin form .selects > div {
  display: inline-block;
  position: relative;
}

#signin form .selects > div::after {
  position: absolute;
  content:"";
  width: .8rem;
  height: .5rem;
  background-color: gray;
  top: 50%;
  right: 10%;
  transform: translate(-100%,-50%);
  clip-path: polygon(0 0,50% 100%,100% 0);
}

#signin .formBars > div.currFormPos {
  color: black;
  border-left: 2.5px solid blue;
}

#signin .formBars > div {
  border-left: 1px solid gray;
}

#createdAccountSuccess {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index:9991;
  display: none;
}

#createdAccountSuccess > div {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 500px;
  width: 100%;
  background: white;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

/****************Doctors.js*******************/

.container .fndDoctors input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 27px;
  margin-bottom: 1rem;
}

.container .category select {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}

.book:hover {
  background-color: transparent;
  box-shadow: 0px 0px 0px 1px blue;
  color: blue;
  transition: 0.7s;
}

.cntct:hover {
  background-color: #0073ff;
  color: white;
  transition: 0.5s;
}

/*********************Profile.js***************/


.container .profile1 .card {
  box-shadow: 0px 0px 15px rgb(186, 186, 186);
}

/****************Pricelist.js**************/

.container .pcbtn button {
  padding: 3px 30px;
}
.container .pcbtn button:hover {
  background-color: #1E90FF;
  color: white;
}

.container .pcbtn .active {
  background-color: #1E90FF;
  color: white;
}

/*****************Carrers.js********************/

#snd-nav {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
}

.carrers div > a a{
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 10px 9.5px;
}

.carrers div > a a:not(.mas):hover {
  background-color: #0073ff;
  color: white;
  text-decoration: none;
  padding: 10px 9.5px;
}

.carrers a {
  text-decoration: none;
}

.carrers {
  display: flex;
  gap: 0.3rem;
}

.container .carrer-link a{
  text-decoration: none;
  color: black;
  padding: 10px 10px;
}

.container .carrer-link a:hover {
  background-color: #0073ff;
  color: white;
  padding: 10px 10px;
}


#signin,#login {
  font-family: 'Poppins',sans-serif;
}

#signin form {
  animation: wip .5s;
  opacity: 0;
  animation-fill-mode: forwards;
  color: gray;
}

@keyframes wip {
  to {
    opacity: 1;
  }
}

#signin form select {
  padding: .5rem 2.5rem .5rem .5rem;
  margin-right: 1rem;
  appearance: none;
  position: relative;
  color: inherit;
  border: 1px solid gray;
}

#signin form .selects > div {
  display: inline-block;
  position: relative;
}

#signin form .selects > div::after {
  position: absolute;
  content:"";
  width: .8rem;
  height: .5rem;
  background-color: gray;
  top: 50%;
  right: 10%;
  transform: translate(-100%,-50%);
  clip-path: polygon(0 0,50% 100%,100% 0);
}

#signin .formBars > div.currFormPos {
  color: black;
  border-left: 2.5px solid blue;
}

#signin .formBars > div {
  border-left: 1px solid gray;
}

#createdAccountSuccess {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index:9991;
  display: none;
}

#createdAccountSuccess > div {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 500px;
  width: 100%;
  background: white;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

#login input {
  outline: none;
}

#login input[type="checkbox"] ~ span {
  display: none;
}

#login input[type="checkbox"]:checked ~ span{
  display: flex;
}

#dashboard .sidebar {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85vh;
  padding-top: 2rem;
}

#dashboard .sidebar::-webkit-scrollbar {
  display: none;
}

#dashboard .sidebar > a{
  text-decoration: none;
  margin-top: .6rem;
  font-size: 1.2rem;
  padding: .3rem 1rem;
  border-radius: 10px;
  background: rgba(0,0,0,0.02);
  color: black;
}

.appoint-tb td, .appoint-tb th {
  padding: 1rem;
  text-align: center;
}

#book {
  font-family: Roboto,sans-serif;
}

#book .paginate a{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  font-size: 0.6rem;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .4rem;
}

#reset-password {
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0E9BD3;
}

#reset-password > div {
  border-radius: 20px;
  width:100%;
  max-width:35rem;
  height:80vh;
  background:white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reset-password > div > div {
  margin-top: 6rem;
}

#reset-password input {
  border: 1px solid rgba(0,0,0,0.05);
  background: rgb(182, 223, 239);
  outline: none;
  padding: .5rem 2rem;
  border-radius: 50px;
}

#reset-password form > div {
  margin: 1rem 0;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 4px solid  #0E9BD3;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  border-color: white;
  animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

/***************Contents.js********************/

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
  color: black;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 2px 0;
}

.main-container .main-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  border-radius: 5px;
  margin: 3px;
  color: white;
  box-shadow: 0px 0px 15px rgb(144, 144, 144);
}

.main-container .main-cards .card:first-child{
  background-color: #2962ff;
}

.main-container .main-cards .card:nth-child(2) {
  background-color: #ff6d00;
}

.main-container .main-cards .card:nth-child(3) {
  background-color: #2e7d32;
}

.main-container .main-cards .card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .material-icons-outlined {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
}

.charts-card {
  background-color: #263043;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

/************Dashboard patient-list******************/

.container .patient-list .card-body p {
  margin: 1px;
}

.container .patient-list .card-body .table tbody button {
  background-color: #2e7d32;
  padding: 3px 15px;
  color: white;
  margin-left: 3px;
  align-items: center;
  justify-content: center;
}

.container .patient-list .card-body .table tbody button:nth-child(2) {
  background-color: #2962ff;
  color: white;
} 

.container .patient-list .card-body .table tbody button:nth-child(3) {
  background-color: #d50000;
  color: white;
} 

/****************PatientsProfile.js******************/

.container .user-profile .patients-img {
  width: 80%;
  height: 5rem;
}

.profile-img {
  border-radius: 50%;
}

.container .user-profile .name {
  border: 1px solid rgb(144, 144, 144);
  padding: 10px 20px;
}

.container .user-profile .profile-title {
  margin-bottom: 1rem;
}

.container .user-profile .more-info button {
  padding: 15px;
  background-color: #0044ff;
  margin-bottom: 0.5rem;
  color: white;
  width: 100%;
}

.container .user-profile .update {
  width: 100%;
  padding: 10px;
  background-color: #0044ff;
  color: white;
  margin-top: 1rem;
}

.dashSideLink {
  position: relative;
}

.dashSideLink::after {
  content:attr(data-totalInbox);
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: black;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
  font-weight: 600;
}